<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>XMPPChat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/main.css}'>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- Include SockJS and Stomp.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <div class="profile-details">
                <div class="flex-divider profile-details-option">
                    <p class="profile-name id" id="profile-name" th:text="${nickname}"></p>
                    <p class="simple-text" id="status"> SAMPLE STATUS</p>
                </div>
                <i class='bx bx-log-out profile-details-option' id="logout-button"></i>
            </div>
            <dic class="search-container">
                <input type="text" placeholder="Buscar Chat">
                <i class='bx bx-search' id="search-icon"></i>
            </dic>
            <div class="chats">      
                <!-- all usernames of chats should display here       -->
                <div class="chats">
                    <ul>
                        <!-- Assuming Thymeleaf is used to render the chats list -->
                        <li th:each="chat : ${activeChats}">
                            <a href="#" th:text="${chat}" th:attr="onclick=|showChat('${chat}')|"></a>
                        </li>
                </ul>
            </div>
        </div>
        
        </div>
        <div class="dashboard-content">
            <div class="chat-header">
                <!-- current username of the chat that is oppenned -->
                <p id="current-chat-username">Le header</p>
            </div>
            <div class="chat-wrapper">
                <!-- the messages of the current chat -->
                <p>Le chat</p>
            </div>
            <div class="chat-input">
                <i class='bx bx-paperclip'></i>
                <input type="text" name="message" id="message" placeholder="Type your message">
                <button type="button" id="send-button">Send</button>
            </div>            
    </div>
    
</body>
<script type="text/javascript" th:src='@{/js/dashboard.js}'></script>
</html>