<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>XMPPChat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/main.css}'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/dashboard.css}'>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- Include SockJS and Stomp.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <div class="profile-details">
                <div class="flex-divider" id="profile-details-option">
                    <p class="profile-name id" id="profile-name" th:text="${nickname}"></p>
                    <p class="simple-text" id="status"> SAMPLE STATUS</p>
                </div>
                <form th:action="@{/logout}" method="post" id="logout-form">
                    <div class="logout-container">
                        <i class='bx bx-log-out' id="logout-icon"></i>
                        <input type="submit" name="logout" id="logout-button" style="display:none;" />
                    </div>
                    
                </form>
            </div>
            <div class="options-container">
                <div class="option" id="grupal-chat-container">
                    <i class='bx bx-group'></i>
                    <p>
                        nuevo grupo
                    </p>
                </div>
                <div class="option" id="new-chat">
                    <i class='bx bxs-message-add'></i>
                    <p>
                        nuevo chat
                    </p>
                </div>
                <div class="option" id="back-to-chats" style="display:none">
                    <i class='bx bx-arrow-back' ></i>
                    <p>
                        regresar a chats
                    </p>
                </div>
                <div class="option" id="add-contact" style="display:none">
                    <i class='bx bxs-user-plus'></i>
                    <p>
                        agregar un contacto
                    </p>
                </div>
               
            </div>
            <dic class="search-container">
                <input type="text" placeholder="Buscar Chat">
                <i class='bx bx-search' id="search-icon"></i>
            </dic>
            <div class="chats" id="sidebar-chat-container">      
                <!-- all usernames of chats should display here -->
                <ul id="current-chat-list">
                    <!-- render all the retrieved chats -->
                    <li th:each="chat : ${activeChats}" class="chat-item-container"
                    th:attr="onclick=|showChat('${chat}')|,id=${chat}"
                    th:classappend="${chat.substring(0, chat.indexOf('@')) == currentChatUsername ? ' active' : ''}">
                        <span  class="chat-initial">
                            <p th:text="${#strings.capitalize(#strings.substring(chat, 0, 1))}"></p>
                        </span>
                        <a th:text="${#strings.substring(chat, 0, chat.indexOf('@'))}" 
                        class="chat-username-ref"></a>
                    </li>
                </ul>
            </div>
            <div class="chats" id="sidebar-contacts-container" display="none">
                <ul id="contact-list">
                    
                </ul>
            </div>
        
        </div>
        <div class="dashboard-content">
            <div class="nav-page active" id="chat-page">
                <div class="chat-header">
                    <!-- current username of the chat that is oppenned -->
                    <p id="current-chat-username"></p>
                </div>
                <div class="chat-wrapper">
                    <!-- the messages of the current chat -->
                    <p></p>
                </div>
                <div class="chat-input">
                    <i class='bx bx-paperclip' id="attach-file-button"></i>
                    <input type="text" name="message" id="message" placeholder="Type your message">
                    <button type="button" id="send-button">Send</button>
                </div>            
            </div>
            <div class="nav-page inactive" id="user-settings">
                <div class="custom-dropdown">
                    <div class="dropdown-selected">
                        <div class="status-color-circle active"></div>
                        <p>Disponible</p>
                        <i class='bx bx-chevron-down'></i>
                    </div>
                    <div class="dropdown-options">
                        <div class="dropdown-option">
                            <div class="status-color-circle active"></div>
                            <p>Disponible</p>
                        </div>
                        <div class="dropdown-option" data-value="disponible">
                            <div class="status-color-circle absent"></div>
                            <p>Ausente</p>
                        </div>
                        <div class="dropdown-option" data-value="no disponible">
                            <div class="status-color-circle inactive"></div>
                            <p>No Disponible</p>
                        </div>
                        <div class="dropdown-option" data-value="ocupado">
                            <div class="status-color-circle busy">-</div>
                            <p>Ocupado</p>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="status-dropdown" id="status-dropdown" value="disponible">
                
            </div>
            
    </div>
    
</body>
<script type="text/javascript" th:src='@{/js/dashboard.js}'></script>
<script type="text/javascript" th:src='@{/js/customslection.js}'></script>
<script type="text/javascript" th:src='@{/js/dashboard-navigation.js}'></script>
</html>