<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>XMPPChat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/main.css}'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/login.css}'>
</head>
<body>
    <div id="overlay"></div>
    <div class="card-container" id="form-container">
        <div class="card-container" id="login-form">
            <h1>Bienvenido a Xmpp Chat</h1>
            <p>Ingrese sus credenciales </p>
            <form style="gap: 10px" th:action="@{/login}" method="post">
                <input type="text"id="username" name="username" placeholder="someone@domain.com">
                <input type="password" id="pwrd" name="pwrd">
                <button type="submit" class="simple-button">Login</button>
                <p>o</p>
                <a href="/register" class="text-only-button">Registrarse</a>
            </form>
            <div th:if="${alertMessage}" class="alert" th:text="${alertMessage}"></div>
        </div>
    </div>
</body>
</html>