:root{
    --crimson-red : #780000;
    --accent-red :  #C1121F; 
    --light-cream-yellow : #FDF0D5;
    --dark-royal-blue : #003049;
    --blue-gray : #669BBC;
}
body {
    display: flex;
    margin: 0;
}
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 10px 10px;
    flex-direction: column;
}

#status{
    margin: 0;
}

#logout-button:before{
    width: 40px;
    height: 40px;
    padding: 10px;
}

.profile-details{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2px 2px 5px 5px;

}
#profile-details-option:hover{
    background-color: var(--blue-gray);
    border-radius: 1rem;
    color: black;
}
.flex-divider {
    border-right: 1px solid var(--light-cream-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-right: 10px;
}

.card-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.simple-button{
    border-radius: 1rem;
    border:transparent;
}

.text-only-button{
    background-color: transparent;
    border:transparent;
}

.sidebar{
    background-color: var(--dark-royal-blue);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  
.search-container input {
flex: 1;
border: none;
outline: none;
padding: 10px;
}

#search-icon {
position: absolute;
right: 10px;
font-size: 18px;
color: #999;
}

.dashboard-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    grid-gap: 0;
}
.dashboard-content{
    background-color: var(--dark-royal-blue);
    display: flex; /* Added flex display */
    flex-grow: 1;
    grid-area: "dashcontent";
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}
.chat-input {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    border-top: var(--light-cream-yellow) solid 1px;
    padding-top: 10px;
}
.logout-container {
    display: inline-block; /* Keep the icon and hidden input together */
    position: relative;
}
#logout-icon {
    font-size: 24px; /* Adjust icon size as needed */
    cursor: pointer; /* Make the icon look clickable */
}
.chat-wrapper {
    height: 85vh;
    width: 80vw;
    background-color:white;
    display: flex; 
    flex-direction: column; 
    max-height: 80vw;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-left: 5vw;
    padding-right: 5vw;
}
.chat-header {
    background-color: var(--dark-royal-blue);
    flex-shrink: 0; /* Evita que se encoja */
    flex-grow: 1;
    width: 100%; /* Asegura que ocupa todo el ancho */
}
.chat-header > p {
    padding-left: 32px;
    color: white;
    font-weight: bold;
}
.chat-input{
    border-left: var(--light-cream-yellow) 1px solid;
    width: 80vw;
}
.chat-input > input {
    width: 70vw;
    
}
.sent-message{
    background-color: var(--blue-gray);
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    max-width: 40vw;
    overflow-x: break-word;
    align-self: flex-end;
}
.received-message{
    background-color: var(--dark-royal-blue);
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    max-width: 40vw;
    overflow-x: break-word;
    align-self: flex-start;
    color: white;
}
.chats > ul{
    list-style-type: none;
    padding-left: 0;
}
.chat-username-ref {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white; 
    font-size: 24px;
    padding: 5px 10px;
}
.chat-initial {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.chat-initial p {
    color: #fff; 
    margin-right: 8px;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}
.chat-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border-radius: 2px;
}
.chat-item-container:hover{
    background-color: var(--blue-gray)
}
.chat-item-container.active {
    background-color: var(--blue-gray);
    color:black;
}