:root{
    --crimson-red : #780000;
    --accent-red :  #C1121F; 
    --light-cream-yellow : #FDF0D5;
    --dark-royal-blue : #003049;
    --blue-gray : #669BBC;
}
body {
    display: flex;
}
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 10px 10px;
    flex-direction: column;
}

.card-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.simple-button{
    border-radius: 1rem;
    border:transparent;
}

.text-only-button{
    background-color: transparent;
    border:transparent;
}